# Please copy this file to 'local.properties' and set the value of the
# 'sdk.dir' property to match your local configuration.

sdk.dir=/home/doganov/lib/android-sdk-linux_x86

# Set the following properties only if you plan to build distribution
# releases for the Android Market:

#key.store=/home/doganov/src/spreed/AND/spreed-android.keystore
#key.store.password=STORE-PASSWORD
#key.alias=spreed-release
#key.alias.password=ALIAS-PASSWORD
